.modal {
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    /* height: calc(var(--maxContent) + 10px); */
    height: max-content;
    padding-bottom: 3.5em;
}

.modalContent>p {
    color: indianred;
    font-weight: 600;
}

/* Modal Content */
.modalContent {
    background-color: #ffffff;
    margin: auto;
    padding-bottom: 0.2em;
    border: 1px solid #888;
    width: 70%;
    border-radius: 2px;
}

/* The Close Button */
.close {
    color: #fff9f9;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 0.2em 0.2em 0.2em 0em;
}

.close:hover,
.close:focus {
    color: #e4ef00;
    text-decoration: none;
    cursor: pointer;
}

.modalMsg {
    text-align: center;
    padding: 0.2em;
}

.modalBanner {
    width: 100%;
    height: max-content;
    min-height: 20px;
    background-color: indianred;
    display: inline-block;
    border-radius: 2px 2px 0px 0px;
}

.buttonTitle {
    color: #fff9f9;
    float: left;
    font-size: large;
    font-weight: bold;
    padding: 0.2em 0em 0.2em 0.6em;
    margin-bottom: 0.6em;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

/* @media screen and (min-width: 768px) {
    .modal {
        height: 66em;
    }
}

@media screen and (max-width: 768px) {
    .modal {
        height: 77em;
    }
} */